<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io.connect('http://localhost');
    socket.on('connect', function (data) {
        socket.emit('authenticate', { username: 'x', password: 'y' }, function(res){
            if(res.error){
                console.error(res.error);
                return;
            }
            console.log('user', res.username, 'connected');
        });
    });
    socket.on('result', function (data) {
        console.log('async result', data);
    });

    function defaultQueryFn(err, result){
        console.log('No result function passed to query. dumping to console...');
        if(err){
            return console.error(err);
        }
        for(var i=0; i<result.rows.length; i++){
            console.log(result.rows[i]);
        }
    }

    function query(q, fn){
        if(!fn){
            fn = defaultQueryFn;
        }
        socket.emit('query', q, function(data){
            fn(data.error, data.result);
        });
    }
</script>
